/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd-party */

/* components */
@import './components/button.css';
@import './components/form.css';

/* CUSTOM HOME PAGE STYLE BELOW THIS COMMENT LINE */

/* HEADER START */
    /* HEADER TOP START */
    /* HEADER TOP END */
    /* HEADER NAV BAR START */

.header-nav {
    background: rgb(1,160,251);
    background: linear-gradient(90deg, rgba(1,160,251,1) 0%, rgba(6,180,179,1) 100%);
    height: 15vh;
    width: 100%;
    display:inline-block;
}
.header-nav-left > a {
     width: 20px;
     margin-left: 10%;
     margin-top: 3%;
     display:inline-block;
     cursor: pointer;
}
.header-nav-right {
    justify-content: flex-end;
    text-align: center;
    display:flex;
    padding: 5px;
    width:50%;
    margin-left: 30%;
    margin-top:-30px;
    cursor: pointer;
}
.nav-menu > a {
    color:white;
    font-size: 16px;
    font-weight:540;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding:5px;
    padding-right: 20px;
}
.nav-icons {
    float:right;
    font-size: large;
    padding: 5px;
    margin-right: 5%;
    margin-top: -30px;
}
.nav-icons a i {
    color: white;
    padding-right: 40px;
}


/* HEADER NAV BAR END */
/* HEADER END */

/* MAIN BODY START */
    /* LANDING SLIDE START */
    /* LANDING SLIDE END */
    /* MAIN BODY #1 START */
    /* MAIN BODY #1 END */
    /* MAIN BODY #2 START */
    /* MAIN BODY #2 END */
    /* MAIN BODY #3 START */
    /* MAIN BODY #3 END */
    /* MAIN BODY #4 START */
    /* MAIN BODY #4 END */
    /* MAIN BODY #5 START */
    /* MAIN BODY #5 END */
    /* MAIN BODY #6 START */
    /* MAIN BODY #6 END */
    /* MAIN BODY #7 START */
    /* MAIN BODY #7 END */
    /* MAIN BODY #8 START */
    /* MAIN BODY #8 END */
    /* MAIN BODY #9 START */
    /* MAIN BODY #9 END */
    /* MAIN BODY #10 START */
    /* MAIN BODY #10 END */
/* MAIN BODY END */

/* FOOTER START */
    /* FOOTER TOP START */
    /* FOOTER TOP END */
    /* FOTTER BOTTOM START */
    /* FOOTER BOTTOM END */
/* FOOTER END */