/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd-party */

/* components */
@import './components/button.css';
@import './components/form.css';

/* CUSTOM HOME PAGE STYLE BELOW THIS COMMENT LINE */

/* HEADER START */
    /* HEADER TOP START */
    /* HEADER TOP END */
    /* HEADER NAV BAR START */
    /* HEADER NAV BAR END */
/* HEADER END */

/* MAIN BODY START */
/* LANDING SLIDE START */
.landing {
    min-height: 100vh;
    background-color: #05B5B3;
    background-image: url(../assets/images/main_images/Electric\ background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.landing .col-left {
    margin-top: 280px;
    margin-left: 5px;   
}

.landing .col-left h1 {
    font-size: 55px;
    color: #fff;
}

.landing .col-left p {
    font-size: 27px;
    color: #fff;
}


.landing .col-right {
    margin-top: 280px;
    margin-right: 0px;
    margin-inline: 10px;
}


    /* LANDING SLIDE END */
    /* MAIN BODY #1 START */
    /* MAIN BODY #1 END */
    /* MAIN BODY #2 START */
    /* MAIN BODY #2 END */
    /* MAIN BODY #3 START */
    /* MAIN BODY #3 END */
    /* MAIN BODY #4 START */
    /* MAIN BODY #4 END */
    /* MAIN BODY #5 START */
    /* MAIN BODY #5 END */
    /* MAIN BODY #6 START */
    /* MAIN BODY #6 END */
    /* MAIN BODY #7 START */
    /* MAIN BODY #7 END */
    /* MAIN BODY #8 START */
    /* MAIN BODY #8 END */
    /* MAIN BODY #9 START */
    /* MAIN BODY #9 END */
    /* MAIN BODY #10 START */
    /* MAIN BODY #10 END */
/* MAIN BODY END */

/* FOOTER START */
    /* FOOTER TOP START */
    /* FOOTER TOP END */
    /* FOTTER BOTTOM START */
    /* FOOTER BOTTOM END */
/* FOOTER END */