/* HEADER START */
/* HEADER TOP START */
/* HEADER TOP END */
/* HEADER NAV BAR START */
/* HEADER NAV BAR END */
/* HEADER END */

/* MAIN BODY START */
/* LANDING SLIDE START */
.btn-left {
    width: 30%;
    margin-top: 45px;
    padding: 15px 30px;
    background-color: #fff;
    text-align: center;
    color: #05B5B3;
    border: 1px solid #fff;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-left:hover {
    background-color: #05B5B3;
    color: #fff;
}

.btn-right {
    width: 30%;
    margin-top: 45px;
    padding: 15px 30px;
    background-color: #05B5B3;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-right:hover {
    background-color: #fff;
    color: #05B5B3;
}

.col-left-btn {
    display: flex;
    column-gap: 10px;
}

/* LANDING SLIDE END */
/* MAIN BODY #1 START */
/* MAIN BODY #1 END */
/* MAIN BODY #2 START */
/* MAIN BODY #2 END */
/* MAIN BODY #3 START */
/* MAIN BODY #3 END */
/* MAIN BODY #4 START */
/* MAIN BODY #4 END */
/* MAIN BODY #5 START */
/* MAIN BODY #5 END */
/* MAIN BODY #6 START */
/* MAIN BODY #6 END */
/* MAIN BODY #7 START */
/* MAIN BODY #7 END */
/* MAIN BODY #8 START */
/* MAIN BODY #8 END */
/* MAIN BODY #9 START */
/* MAIN BODY #9 END */
/* MAIN BODY #10 START */
/* MAIN BODY #10 END */
/* MAIN BODY END */

/* FOOTER START */
/* FOOTER TOP START */
/* FOOTER TOP END */
/* FOTTER BOTTOM START */
/* FOOTER BOTTOM END */
/* FOOTER END */