.services {
    padding: 55px 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    
}

.services:hover {
    background-color: #03A9DB;
    color: #fff;
}



.services > .icon {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: #ccc;
}

.services > .title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

.services > .description {
    font-size: 18px;
}


